@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

button.active > span {
    font-weight: 600;
    color: #ff4401;
    border-left-width: 4px;
    border-color: #ff4401;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    padding: 0 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    padding: 4px;
}
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.25em;

    font-weight: bold;
}

h4 {
    display: block;
    font-weight: bold;
}
h5 {
    display: block;
    font-weight: bold;
}
h6 {
    display: block;
    font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
ul {
    list-style-type: disc;
    list-style-position: inside;
}
ol {
    list-style-type: decimal;
    list-style-position: inside;
}
ul ul,
ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}
ol ol,
ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}
pre {
    margin: 5px;
    color: black;
    background-color: #f1f1f1;
    padding: 4px 16px;
    box-sizing: content-box;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-family: Inconsolata, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
        'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
        'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace !important;
    font-size: 12px !important;
}
pre > span > code {
    font-size: 12px !important;
}

/* Hide the items when the select box is closed: */
